<div class="customer_information_nav top_customer_information_nav">
  <div class="customer_profile_nav top_customer_profile_nav">
    <%= link_to customer_path(customer.id) do %>
      <%= attachment_image_tag(customer, :image, size: "100x100", format: "jpeg", fallback: "no-image.png", class: "img-circle") %>
    <% end %>
    <h1>
      <strong><%= customer.name %></strong>
    </h1>
    <div>
      <span><%= customer.introduction %></span>
    </div>
    <div>フォローボタン</div>
  </div>
  <ul>
    <li>
      <span>獲得EXP</span>
      <span><%= customer.exp_point %></span>
    </li>
    <li>
      <span>お気に入りに登録された件数</span>
      <span></span>
    </li>
    <li>
      <span>レビュー</span>
      <span><%= customer.comments.count %></span>
    </li>
  </ul>
</div>