<div class="flex-container">
  <div class="flex-item">
    <%= attachment_image_tag(current_customer, :image, size: "200x180", format: "jpeg", fallback: "no-image.png") %>
  </div>
  <div class="flex-item">
    <h1>
      <strong><%= current_customer.name %></strong>
    </h1>
    <div>
      <span><%= current_customer.based %></span>
      <span><%= current_customer.introduction %></span>
      <ul>
        <li>興味のあるジャンル<li>
      </ul>
    </div>
  </div>
  <div class="flex-item">
    <ul>
      <li>
        <span>獲得EXP</span>
        <span><%= current_customer.exp_point %></span>
      </li>
      <li>
        <span>公開中の体験</span>
        <span><%= current_customer.services.count %></span>
      </li>
      <li>
        <span>フォロー</span>
      </li>
      <li>
        <span>フォロワー</span>
      </li>
      <li>
        <span>ポジティブな評価</span>
      </li>
      <li>
        <span>レビュー</span>
      </li>
    </ul>
  </div>
</div>
<div class="btn">
  <%= link_to  "マイページを編集する", edit_information_path %>
</div>

<h3>公開中のサービス</h3>
<% if current_customer.services.blank? %> 
  <p>公開中のサービスはありません</p>
<% else %>
  <div class="service_flex_container">
    <% current_customer.services.each do |service| %>
      <div class="service_item">
        <%= attachment_image_tag(service, :image, format: "jpeg", fallback: "no-image.png", class: "service_image") %>
        <div class="service_point">
          <%= service.point %> pt
        </div>
        <div class="customer_image">
          <%= attachment_image_tag(service.customer, :image, size: "70x70", format: "jpeg", fallback: "no-image.png", class: "img-circle") %>
        </div>
        <div class="customer_name">
          <span><strong><%= service.customer.name %></strong></span>
        </div>
        <div class="customer_introduction">
          <span><%= service.customer.introduction %></span>
        </div>
        <div class="service_wrap">
          <div class="service_catchphrase">
            <span><strong><%= service.catchphrase %></strong></span>
          </div>
          <div class="service_content">
            <span><%= service.content %></span>
          </div>
          <div class="service_format">
            <span><%= service.format %></span>
          </div>
          <div class="service_place">
            <span>
              <i class="fa fa-map-marker"></i>
              <%= service.place %>
            </span>
          </div>
          <div class="service_is_active">
            <span>
              <% if service.is_active == true %>
                <i class="fa fa-check-circle"></i>
                <%= link_to  "公開中", service_path(service.id) %>
              <% else %>
                公開停止中
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="button">
  <%= link_to  "サービスを追加する", new_service_path %>
<div>
<div class="comment">
  <% if current_customer.comments.blank? %>
    <p>まだコメントはありません</p>
  <% else %>
  <% end %>
</div>