<div class="flex-container">
  <div class="flex-item">
    <%= attachment_image_tag(current_cus, :image, size: "200x180", format: "jpeg", tomerfallback: "no-image.png") %>
  </div>
  <div class="flex-item">
    <h1>
      <strong><%= current_customer.name %></strong>
    </h1>
    <div>
      <span class="">
        <%= current_customer.based %>
      </span>
      <p>
        <%= current_customer.introduction %>
      </p>
      <ul>
        <li>興味のあるジャンル<li>
      </ul>
    </div>
  </div>
  <div class="flex-item">
    <ul>
      <li>
        <span>獲得EXP</span>
        <span><% current_customer.exp_point %></span>
      </li>
      <li>
        <span>公開中の体験</span>
        <span><% current_customer.services.count %></span>
      </li>
      <li>
        <span>フォロー</span>
      </li>
      <li>
        <span>フォロワー</span>
      </li>
      <li>
        <span>ポジティブな評価</span>
      </li>
      <li>
        <span>レビュー</span>
      </li>
    </ul>
  </div>
</div>

<div class="service_item">
  <h3>公開中のサービス</h3>
  <% if current_customer.services.blank? %>
    公開中のサービスはありません
  <% else %>
  <% end %>
</div>
<div class="button">
  <%= link_to  "サービスを追加する", new_service_path %>
<div>
<div class="comment">
  <% if current_customer.comments.blank? %>
    まだコメントはありません
  <% else %>
  <% end %>
</div>