<div class="flex-container">
  <div class="flex-item">
    <%= attachment_image_tag(@customer, :image, size: "200x180", format: "jpeg", fallback: "no-image.png") %>
  </div>
  <div class="flex-item">
    <h1>
      <strong><%= @customer.name %></strong>
    </h1>
    <div>
      <span><%= @customer.based %></span>
      <span><%= @customer.introduction %></span>
      <ul>
        <li>興味のあるジャンル<li>
      </ul>
    </div>
  </div>
  <div class="flex-item">
    <ul>
      <li>
        <span>獲得EXP</span>
        <span><%= @customer.exp_point %></span>
      </li>
      <li>
        <span>公開中の体験</span>
        <span><%= @services.count %></span>
      </li>
      <li>
        <span>フォロー</span>
      </li>
      <li>
        <span>フォロワー</span>
      </li>
      <li>
        <span>ポジティブな評価</span>
      </li>
      <li>
        <span>レビュー</span>
      </li>
    </ul>
  </div>
</div>
<div class="btn">
  <%= link_to  "プロフィールを編集する", edit_information_path %>
</div>

<h3>公開中の体験</h3>
<% if @services.blank? %> 
  <p>公開中の体験はありません</p>
<% else %>
  <div class="service_flex_container">
    <% @services.each do |service| %>
      <%= render 'public/services/service', service: service %>
    <% end %>
  </div>
<% end %>

<div class="button">
  <%= link_to  "体験を追加する", new_service_path %>
<div>