<div class="comming_appointment">
  <h3>承認待ち</h3>
  <% @comming_appointments.each do |appointment| %>
    <div class="flex-container">
      <div>
        <span>申込があった体験</span>
        <%= render 'public/services/service', service: appointment.service %>
      </div>
      <div class="from_customer_information">
        <span>申込者</span>
        <% customer = Customer.find(appointment.from_customer_id) %>
        <div>
          <%= attachment_image_tag(customer, :image, size: "200x180", format: "jpeg", fallback: "no-image.png") %>
        </div>
        <div>
          名前：<%= customer.name %>
        </div>
        <div>
          打合せ希望日時：
          <% if appointment.request_date == "undecided" %>
            未定
          <% else %>
            <%= appointment.request_date.to_datetime.strftime("%Y年%m月%d日 %H:%M") %>
          <% end %>
        </div>
        <div>
          打合せ希望形式：<%= appointment.request_format_i18n %>
        </div>
      </div>
      <div>
        <div class="btn">
          <%= link_to  "承認する", service_appointment_path(appointment.service.id, appointment.id, :update_param => "success"), method: :patch, data: { confirm: '本当に承諾しますか?' } %>
        </div>
        <div class="btn">
          <%= link_to  "拒否する", service_appointment_path(appointment.service.id, appointment.id, :update_param => "failure"), method: :patch, data: { confirm: '本当に拒否しますか？ 拒否する旨を申込者に伝えた上で実行ください。' } %>
        </div>
        <div class="btn">
          <%= link_to  "チャットを開く", appointment_comment_path(appointment.appointment_comment.id) %>
        </div>
      </div>
    </div>
  <% end %>
<div class="applying_appointment">
  <h3>申込中</h3>
  <% @applying_appointments.each do |appointment| %>
    <%= render 'public/services/service', service: appointment.service %>
  <% end %>
</div>
<div class="success_appointment">
  <h3>申込成立</h3>
  <div class="service_flex_container">
    <% @success_appointments.each do |appointment| %>
      <%= render 'public/services/service', service: appointment.service %>
    <% end %>
  </div>
</div>
<div class="failure_appointment">
  <h3>申込失敗(※3日後に消えます)</h3>
  <div class="service_flex_container">
    <% @failure_appointments.each do |appointment| %>
      <%= render 'public/services/service', service: appointment.service %>
    <% end %>
  </div>
</div>