<div class="comming_appointment">
  <h3 class="icon">あなたの承認待ち</h3>
  <% @comming_appointments.each do |appointment| %>
    <div class="flex_appointment_container">
      <div class="to_customer_service_information">
        <div class="service_title">
          <h4>申込があった体験</h4>
        </div>
        <%= render 'public/services/service', service: appointment.service %>
      </div>
      <div class="from_customer_information">
        <%= render 'public/appointments/appointment_customer', appointment: appointment %>
        <div class="date">
          <span>
            申込受信日時：<%= appointment.updated_at.strftime("%Y年%m月%d日 %H:%M") %>
          </span>
        </div>
      </div>
      <div class="btn_information">
        <div class="btn_green">
          <span>
            <i class="fa fa-check-circle"></i>
            <%= link_to  "承認する", service_appointment_path(appointment.service.id, appointment.id, :update_param => "success"), method: :patch, data: { confirm: '本当に承諾しますか?' } %>
          </span>
        </div>
        <div class="btn_red">
          <span>
            <i class="fa fa-check-circle"></i>
            <%= link_to  "拒否／中断する", service_appointment_path(appointment.service.id, appointment.id, :update_param => "failure"), method: :patch, data: { confirm: '本当に拒否／中断しますか？ 申込者に伝えた上で実行ください。' } %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="waiting_review_appointments">
  <h3 class="icon">相手のレビュー待ち<small>　(申込を承認した体験です。体験提供後に相手にレビューを依頼してください。)</small></h3>
  <% @waiting_review_appointments.each do |appointment| %>
    <div class="flex_appointment_container">
      <div class="to_customer_service_information">
        <div class="service_title">
          <h4>申込があった体験</h4>
        </div>
        <%= render 'public/services/service', service: appointment.service %>
      </div>
      <div class="from_customer_information">
        <%= render 'public/appointments/appointment_customer', appointment: appointment %>
        <div class="date">
          <span>
            申込承認日時：<%= appointment.updated_at.strftime("%Y年%m月%d日 %H:%M") %>
          </span>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
<div class="applying_appointment">
  <h3 class="icon">申込中</h3>
  <div class="service_flex_container">
    <% @applying_appointments.each do |appointment| %>
      <%= render 'public/appointments/appointment_service', {service: appointment.service, appointment: appointment} %>
    <% end %>
  </div>
</div>
<div class="success_appointment">
  <h3 class="icon">申込成立<small>　(相手に申込を承認された体験です。体験完了後にレビューを書いて体験を完了してください。)</small></h3>
  <div class="service_flex_container">
    <% @success_appointments.each do |appointment| %>
      <%= render 'public/appointments/appointment_service', {service: appointment.service, appointment: appointment} %>
    <% end %>
  </div>
</div>
<div class="failure_appointment">
  <h3 class="icon">申込中断<small>　(相手に申込を拒否／中断された体験の一覧です。3日後に消えます。)</small></h3>
  <div class="service_flex_container">
    <% @failure_appointments.each do |appointment| %>
      <%= render 'public/appointments/appointment_service', {service: appointment.service, appointment: appointment} %>
    <% end %>
  </div>
</div>
<div class="done_appointment">
  <h3 class="icon">過去に利用した体験</h3>
  <div class="service_flex_container">
    <% @done_appointments.each do |appointment| %>
      <%= render 'public/appointments/appointment_service', {service: appointment.service, appointment: appointment} %>
    <% end %>
  </div>
</div>