<div class="comming_appointment">
  <h3>承認待ち</h3>
  <% @comming_appointments.each do |appointment| %>
    <%= render 'public/services/service', service: appointment.service %>
    <div>
      <div>
        <%=  %>
      </div>
      <div>
        <%=  %>
      </div>
      <div>
        <%=  %>
      </div>
    </div>
  <% end %>
<div class="applying_appointment">
  <h3>申込中</h3>
  <% @applying_appointments.each do |appointment| %>
    <%= render 'public/services/service', service: appointment.service %>
  <% end %>
</div>
<div class="success_appointment">
  <h3>申込成立</h3>
  <% @applying_appointments.each do |appointment| %>
    <%= render 'public/services/service', service: appointment.service %>
  <% end %>
</div>
<div class="failure_appointment">
  <h3>申込失敗(※3日後に消えます)</h3>
  <% @applying_appointments.each do |appointment| %>
    <%= render 'public/services/service', service: appointment.service %>
  <% end %>
</div>