<h1>体験の利用を申し込む／話を聞く</h1>
<%= form_with(model: @appointment, url: service_appointments_path(@service.id) ,method: :post, local: true) do |f| %>
  <%= render 'layouts/error_messages', resource: @appointment %>
  <dl>
    <dt>利用したい体験</dt>
    <dd>
      <div><%= @service.catchphrase %></div>
      <div><%= @service.point %>ポイント</div>
    </dd>
    <dt>希望日</dt>
    <dd>
      <label>
        <%= radio_button_tag :request_date_exist, 0, :checked => true %>未定
      </label>
      <label>
        <%= radio_button_tag :request_date_exist, 1 %>
        <%= f.datetime_field :request_date %>
      </label>
    </dd>
    <dt>メッセージ</dt>
    <dd><%= f.text_area :first_message, cols: 50, rows: 10, placeholder: "話してみたいこと、第2希望日、第3希望日等をお書きください。" %></dd>
  </dl>
  <div>
    <%= f.submit "申し込む／話を聞く" %>
    <p>現時点でポイントは支払われません。</p>
  </div>
<% end %>