<div class="search_form_wrap">
  <% if customer_signed_in? %>
    <div class="search_form">
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag 'word', '',  :placeholder => "検索したい体験名/Shexper名" %>
        <%= select_tag 'range', options_for_select({ "体験" => "1" , "Shexper(ユーザ)" => "2"}) %>
        <%= select_tag 'search', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
        <%= submit_tag "検索", :class=>"search_btn" %>
      <% end %>
    </div>
  <% end %>
</div>
<h3 class="icon">検索結果</h3>
<% if @range == '1' %>
  <h1 class="search_massage">'<%= @word %>' で 体験 を検索しました。</h1>
  <% if @services.blank? %>
    <p class="search_massage">条件にマッチする体験はありませんでした。</p>
  <% else %>
    <div class="service_flex_container">
      <% @services.each do |service| %>
        <%= render 'public/services/service', service: service %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h1 class="search_massage">'<%= @word %>' で Shexper(ユーザ) を検索しました。</h1>
  <% if @services.blank? %>
    <p class="search_massage">条件にマッチするShexper(ユーザ)はいませんでした。</p>
  <% else %>
    <div class="customer_flex_container">
      <% @customers.each do |customer| %>
        <%= render 'public/customers/customer', customer: customer %>
      <% end %>
    </div>
  <% end %>
<% end %>