<!-- 申込状況画面では非表示 -->
<% if request.path != "/appointments" %>
  <!-- マイページでは体験の公開／非公開リンクを表示 -->
  <% if request.path == "/customers/mypage" %>
    <% if service.is_active == true %>
      <div class="btn_gray">
        <span>
          <i class="fa fa-check-circle"></i>
          <%= link_to  "詳細を表示", service_path(service.id) %>
        </span>
      </div>
      <div class="btn_red">
        <span>
          <i class="fa fa-check-circle"></i>
          <%= link_to  "公開を停止する", service_update_status_path(service.id, :status => 'close'), method: :patch %>
        </span>
      </div>
    <% else %>
      <div class="btn_gray">
        <span>
          <i class="fa fa-check-circle"></i>
          <%= link_to  "詳細を表示", service_path(service.id) %>
        </span>
      </div>
      <div class="btn_green">
        <span>
          <i class="fa fa-check-circle"></i>
          <%= link_to  "公開を再開する", service_update_status_path(service.id, :status => 'open'), method: :patch %>
        </span>
      </div>
    <% end %>
  <!-- トップページとユーザ詳細画面では体験の詳細画面へのリンクを表示 -->
  <% else %>
    <% if service.is_active == true %>
      <div class="btn_green">
        <span>
          <i class="fa fa-check-circle"></i>
          <%= link_to  "公開中", service_path(service.id) %>
        </span>
      </div>
    <% else %>
      <div class="btn_gray">
        <span>
          <i class="fa fa-check-circle"></i>
          <%= link_to  "非公開中", service_path(service.id) %>
        </span>
      </div>
    <% end %>
  <% end %>
<% end %>