<div class="service_item">
  <%= attachment_image_tag(service, :image, format: "jpeg", fallback: "no-image.png", class: "service_image") %>
  <div class="service_point">
    <%= service.point %> pt
  </div>
  <%= link_to customer_path(service.customer.id) do %>
    <div class="customer_image">
      <%= attachment_image_tag(service.customer, :image, size: "70x70", format: "jpeg", fallback: "no-image.png", class: "img-circle") %>
    </div>
  <% end %>
  <div class="customer_name">
    <span><strong><%= service.customer.name %></strong></span>
  </div>
  <div class="customer_introduction">
    <span><%= service.customer.introduction %></span>
  </div>
  <div class="service_wrap">
    <div class="service_catchphrase">
      <span><strong><%= service.catchphrase %></strong></span>
    </div>
    <div class="service_content">
      <span><%= service.content %></span>
    </div>
    <div class="service_format">
      <i class="fas fa-comments"></i>
      <span><%= service.format_i18n %></span>
    </div>
    <div class="service_place">
      <span>
        <i class="fa fa-map-marker"></i>
        <%= service.place %>
      </span>
    </div>
    <!-- 申込状況ページでは非表示 -->
    <% if request.path != "/appointments" %>
      <!-- マイページでは体験の公開／非公開リンクを表示 -->
      <% if request.path == "/customers/mypage" %>
        <div class="service_is_active">
          <% if service.is_active == true %>
            <span>
              <i class="fa fa-check-circle"></i>
              <%= link_to  "公開を停止する", service_path(service.id, :service => 'close'), method: :patch %>
            </span>
          <% else %>
            <span>
              <i class="fa fa-check-circle"></i>
              <%= link_to  "公開を再開する", service_path(service.id, :service => 'open'), method: :patch %>
            </span>
          <% end %>
        </div>      
      <!-- トップページとユーザ詳細ページでは体験の詳細ページへのリンクを表示 -->
      <% else %>
        <div class="service_is_active">
          <% if service.is_active == true %>
            <span>
              <i class="fa fa-check-circle"></i>
              <%= link_to  "公開中", service_path(service.id) %>
            </span>
          <% else %>
            <span>
              <i class="fa fa-check-circle"></i>
              <%= link_to  "非公開中", service_path(service.id) %>
            </span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>