<h1>体験新規登録</h1>
<%= form_with(model: @service, url: services_path, method: :post, local: true) do |f| %>
  <div class="flex-container">
    <div class="image_field">
      <%= f.label :image, "画像" %>
      <%= attachment_image_tag @service, :image, format: "jpeg", id: "img_prev", fallback: "no-image.png", class: "item_image", size: "300x300" %>
      <span class="btn btn-file btn-info"><%= f.attachment_field :image %>画像選択</span>
      <p>選択するとプレビューされます。<br>画像未選択のままだと、<br>「画像準備中」になります。</p>
    </div>
    <table class="admin_item_info item_form">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.label :catchphrase, "キャッチフレーズ" %></td>
          <td><%= f.text_field :catchphrase %></td>
        </tr>
        <tr>
          <td><%= f.label :content, "説明" %></td>
          <td><%= f.text_area :content, rows: 3 %></td>
        </tr>
        <tr>
          <td><%= f.label :place, "提供場所" %></td>
          <td><%= f.text_field :place %></td>
        </tr>
        <tr>
          <td><%= f.label :format, "主要提供形式" %></td>
          <td class="select_field">
            <%= f.select :format, Service.formats.keys, :selected=>Service.formats[@service.format], include_blank: '選択してください' %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :point, "必要ポイント" %></td>
          <td><%= f.number_field :point %>ポイント</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="button">
    <%= f.submit "登録", class: "btn btn-primary" %>
  </div>
<% end %>