<div class="service_show_container">
  <div class="service_detail">
    <div class="service_nav_wrap">
      <div class="service_cover_image">
        <%= attachment_image_tag(@service, :image, size: "600x420", format: "jpeg", fallback: "no-image.png", class: "service_img") %>
        <div class="service_cover_information">
          <div class="service_place">
            <i class="fa fa-map-marker"></i>
            <span><%= @service.place %></span>
          </div>
          <div class="service_format">
            <i class="fas fa-comments"></i>
            <span><%= @service.format_i18n %></span>
          </div>
          <div class="service_catchphrase">
            <h1>
              <span><strong><%= @service.catchphrase %></strong></span>
            </h1>          
          </div>
          <div class="customer_image">
            <%= link_to customer_path(@customer.id) do %>
              <span><%= attachment_image_tag(@customer, :image, size: "100x100", format: "jpeg", fallback: "no-image.png", class: "img-circle") %></span>
            <% end %>
          </div>
          <% if @service.customer_id != current_customer.id %>
            <div class="favorite_btn">
              <% if @service.favorited_by?(current_customer) %>
                <div class="btn_red">
                  <span>
                    <%= link_to  "お気に入りを解除する", service_favorites_path(@service.id), method: :delete %>
                  </span>
                </div>
              <% else %>
                <div class="btn_green btn_withdraw">
                  <span>
                    <%= link_to  "お気に入りの体験に登録する", service_favorites_path(@service.id), method: :post %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="service_point">
        <span><%= @service.point %> point</span>
      </div>
      <div class="service_detail_information">
        <dl>
          <dt><i class="fas fa-user"></i></dt>
          <dd><%= @customer.name %></dd>
          <dt><i class="fas fa-comments"></i></dt>
          <dd><%= @service.format_i18n %></dd>
          <dt><i class="fas fa-map-marker-alt"></i></dt>
          <dd><%= @service.place %></dd>
          <dt><i class="fas fa-thumbtack"></i></dt>
          <dd><%= safe_join(@service.content.split("\n"), tag(:br)) %></dd>
        </dl>
      </div>
    </div>
    <div class="service_detail_btn">
      <!-- 自分の体験だった場合は、体験の編集と削除ボタンを表示 -->
      <% if @customer == current_customer %>
        <div class="service_btn">
          <div class="btn_gray service_edit_btn">
            <span>
              <i class="fa fa-check-circle"></i>
              <%= link_to  "体験を編集する", edit_service_path(@service.id) %>
            </span>
          </div>
          <div class="btn_red service_destroy_btn">
            <span>
              <i class="fa fa-check-circle"></i>
              <%= link_to  "体験を削除する", service_path(@service.id), method: :delete %>
            </span>
          </div>
        </div>
      <% else %>
        <!-- 自分の体験ではなく、公開中の時は申込ボタンを表示 -->
        <% if @service.is_active == true %>
          <p>必要なポイント：<%= @service.point %>pt</p>
          <div class="btn_green">
            <span>
              <i class="fa fa-check-circle"></i>
              <%= link_to  "申し込む／話を聞く", new_service_appointment_path(@service.id) %>
            </span>
          </div>
          <p>
            話を聞くだけではポイントは必要ありません。<br>
            <small>
              ※ 同時に2つ以上の体験を取引することはできません。<br>　 取引中の体験を完了してから進んでください。
            </small>
          </p>
        <!-- 非公開の時は申込ボタンを非表示 -->
        <% else %>
          <p>この体験は公開停止中です</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="host_detail">
    <div class="enter_appointment_btn">
      <!-- 自分以外の体験、かつ体験が公開中の時、申込ボタンを表示 -->
      <% if @customer != current_customer && @service.is_active == true %>
        <p>必要なポイント：<%= @service.point %>pt</p>
        <div class="btn_green">
          <span>
            <i class="fa fa-check-circle"></i>
            <%= link_to  "申し込む／話を聞く", new_service_appointment_path(@service.id) %>
          </span>
        </div>
        <p>
          話を聞くだけではポイントは必要ありません。<br>
          <small>
            ※ 同時に2つ以上の体験を申し込むことはできません。<br>
            　 取引中の体験を完了してから進んでください。
          </small>
        </p>
      <% end %>
    </div>
    <%= render 'public/customers/customer', customer: @customer %>
  </div>
</div>
<%= render 'public/customers/comment', comments: @comments %>