<div class="service_show_container">
  <div class="service_detail">
    <div class="service_nav_wrap">
      <div class="service_cover_image">
        <%= attachment_image_tag(@service, :image, size: "600x420", format: "jpeg", fallback: "no-image.png", class: "service_img") %>
        <div class="service_cover_information">
          <div class="service_place">
            <i class="fa fa-map-marker"></i>
            <span><%= @service.place %></span>
          </div>
          <div class="service_format">
            <span><%= @service.format_i18n %></span>
          </div>
          <div class="service_catchphrase">
            <h1>
              <span><strong><%= @service.catchphrase %></strong></span>
            </h1>          
          </div>
          <div class="customer_image">
            <span><%= attachment_image_tag(@customer, :image, size: "80x80", format: "jpeg", fallback: "no-image.png", class: "img-circle") %></span>
          </div>
          <div class="favorite_btn">
            お気に入り登録ボタン
          </div>
          <div class="service_point">
            <span><%= @service.point %> point</span>
          </div>
        </div>
      </div>
      <div class="service_detail_information">
        <dl>
          <dt><i class="fas fa-user"></i></dt>
          <dd><%= @customer.name %></dd>
          <dt><i class="fas fa-comments"></i></dt>
          <dd><%= @service.format_i18n %></dd>
          <dt><i class="fas fa-map-marker-alt"></i></dt>
          <dd><%= @service.place %></dd>
          <dt><i class="fas fa-thumbtack"></i></dt>
          <dd><%= @service.content %></dd>
        </dl>
      </div>
    </div>
    <div class="enter_appointment_btn">
      <% if @customer != current_customer %>
        <p>必要なポイント：<%= @service.point %>pt</p>
        <div class="btn_green">
          <span>
            <%= link_to  "体験利用手続きに進む／話だけでも聞いてみる", new_service_appointment_path(@service.id) %>
          </span>
        </div>
        <p>話を聞くだけではポイントは必要ありません</p>
      <% end %>
    </div>
  </div>
  <div class="host_detail">
    <div class="enter_appointment_btn">
      <p>必要なポイント：<%= @service.point %>pt</p>
      <% if @customer != current_customer %>
        <div class="btn_green">
          <span>
            <%= link_to  "体験利用手続きに進む／話だけでも聞いてみる", new_service_appointment_path(@service.id) %>
          </span>
        </div>
        <p>話を聞くだけではポイントは必要ありません</p>
      <% end %>
    </div>
    <div class="customer_information_nav">
      <div class="customer_profile_nav">
        <%= link_to customer_path(@customer.id) do %>
          <%= attachment_image_tag(@customer, :image, size: "100x100", format: "jpeg", fallback: "no-image.png", class: "img-circle") %>
        <% end %>
        <h1>
          <strong><%= @customer.name %></strong>
        </h1>
        <div>
          <span><%= @customer.introduction %></span>
        </div>
        <div>フォローボタン</div>
      </div>
      <ul>
        <li>
          <span>獲得EXP</span>
          <span><%= @customer.exp_point %></span>
        </li>
        <li>
          <span>お気に入りに登録された件数</span>
          <span></span>
        </li>
        <li>
          <span>レビュー</span>
          <span><%= @customer.comments.count %></span>
        </li>
      </ul>
    </div>
  </div>
</div>
<%= render 'public/customers/comment', comments: @comments %>