<div class="service_show_container">
  <div class="service_detail">
    <div class="service_detail_image">
      <div class="service_image">
        <%= attachment_image_tag(@service, :image, size: "60%x350", format: "jpeg", fallback: "no-image.png") %>
      </div>
      <div class="service_place">
        <%= @service.place %>
      </div>
      <div class="service_format">
        <%= @service.format %>
      </div>
      <div class="service_catchphrase">
        <%= @service.catchphrase %>
      </div>
      <div class="customer_image">
        <%= attachment_image_tag(@customer, :image, size: "200x180", format: "jpeg", fallback: "no-image.png") %>
      </div>
      <div class="favorite_btn">
        お気に入り登録ボタン
      </div>
      <div class="service_point">
        <%= @service.point %> point
      </div>
    </div>
    <div class="service_detail_information">
      <dl>
        <dt><i class="fas fa-user"></i></dt>
        <dd><%= @customer.name %></dd>
        <dt><i class="fas fa-comments"></i></dt>
        <dd><%= @service.format %></dd>
        <dt><i class="fas fa-map-marker-alt"></i></dt>
        <dd><%= @service.place %></dd>
        <dt></dt>
        <dd><%= @service.content %><dd>
      </dl>
    </div>
    <div class="enter_appointment_btn">
      <p>必要なポイント：<% @service.point %>pt</p>
      <%= link_to  "体験利用手続きに進む／話だけでも聞いてみる", new_service_appointment_path(@service.id) %>
      <p>話を聞くだけではポイントは必要ありません</p>
    </div>
  </div>
  <div class="host_detail">
    <div class="enter_appointment_btn">
      <p>必要なポイント：<% @service.point %>pt</p>
      <%= link_to  "体験利用手続きに進む／話だけでも聞いてみる", new_service_appointment_path(@service.id) %>
      <p>話を聞くだけではポイントは必要ありません</p>
    </div>
    <div>
      <%= attachment_image_tag(@customer, :image, size: "200x180", format: "jpeg", fallback: "no-image.png") %>
    </div>
    <h1>
      <strong><%= @customer.name %></strong>
    </h1>
    <div>
      <span><%= @customer.introduction %></span>
    </div>
    <div>フォローボタン</div>
    <ul>
      <li>
        <span>獲得EXP</span>
        <span><%= @customer.exp_point %></span>
      </li>
      <li>
        <span>お気に入りに登録された件数</span>
        <span></span>
      </li>
      <li>
        <span>レビュー</span>
        <span><%= @customer.comments.count %></span>
      </li>
    </ul>
  </div>
</div>