<div class="top_wrap">
  <div class="top_title">
    <h1><strong>あなたにとっての当たり前は、他人にとって面白い</strong></h1>
    <span>
      ～Shexpは当たり前の体験を無料でシェアできるサービスです！積極的に体験をシェアして、トップShexperを目指しましょう～
    </span>
  </div>
  <div class="top_btn">
    <% if customer_signed_in? %>
      <div class="btn_gray about_btn">
        <span>
          <i class="fa fa-check-circle"></i>
          <%= link_to "詳しく知る", about_path %>
        </span>
      </div>
    <% else %>
      <div class="btn_gray about_btn">
        <span>
          <i class="fa fa-check-circle"></i>
          <%= link_to "詳しく知る", about_path %>
        </span>
      </div>
      <div class="btn_green">
        <span>
          <i class="fa fa-check-circle"></i>
          <%= link_to "新規会員登録", new_customer_registration_path %>
        </span>
      </div>
    <% end %>
  </div>
</div>
<div class="search_form_wrap">
  <% if customer_signed_in? %>
    <div class="search_form">
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag 'word' %>
        <%= select_tag 'range', options_for_select({ "体験" => "1" , "Shexper(ユーザ)" => "2"}) %>
        <%= select_tag 'search', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
        <%= submit_tag "検索" %>
      <% end %>
    </div>
  <% end %>
</div>
<h3 class="icon">体験一覧</h3>
<div class="service_flex_container">
  <% @services.each do |service| %>
    <%= render 'service', service: service %>
  <% end %>
</div>
<h3 class="icon">トップShexper</h3>
<div class="customer_flex_container">
  <% @customers.each do |customer| %>
    <%= render 'public/customers/customer', customer: customer %>
  <% end %>
</div>