<div class="history">
  <div class="exp_histories">
  <h2 class="icon">EXP獲得履歴</h2>
    <table>
      <thead>
        <tr>
          <th>日時</th>
          <th>契機</th>
          <th>ポイント残高</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= current_customer.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td>システム</td>
          <td>0</td>
        </tr>
        <% @exp_histories.each do |point| %>
          <tr>
            <td><%= point.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
            <td>ユーザ間取引</td>
            <td><%= point.balance %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="point_histories">
  <h2 class="icon">ポイント履歴</h2>
    <table>
      <thead>
        <tr>
          <th>日時</th>
          <th>契機</th>
          <th>ポイント残高</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= current_customer.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td>システム</td>
          <td>500</td>
        </tr>
        <% @point_histories.each do |point| %>
          <tr>
            <td><%= point.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
            <td>
              <% if point.trigger == "-1" %>
                システム
              <% else %>
                ユーザ間取引
              <% end %>
            </td>
            <td><%= point.balance %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>