<!DOCTYPE html>
<html>
  <head>
    <title>Shexp!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <% if customer_signed_in? %>
          <div class="header_content">
            <div><%= link_to 'Shexp!', root_path, class: "logo" %></div>
            <ul class="header_flex">
              <p class="welcome_header_content">
                ようこそ、<%= current_customer.name %>さん!<br>
                ポイント残高：<%= current_customer.point %>
              </p>
              <li><%= link_to 'トップ', root_path %></li>
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to 'マイページ', mypage_path %></li>
              <li><%= link_to '申込状況', appointments_path %></li>
              <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
            </ul>
          </div>
      <% else %>
          <div class="header_content">
            <%= link_to 'Shexp!', root_path, class: "logo" %>
            <ul class="header_flex">
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to '体験一覧', services_path %></li>
              <li><%= link_to '新規登録', new_customer_registration_path %></li>
              <li><%= link_to 'ログイン', new_customer_session_path %></li>
            </ul>
          </div>
      <% end %>
    </header>
    <main>
      <% flash.each do |key, value| %>
        <p class="alert alert-<%= key %>">
          <%= value %>
        </p>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <div class="footer_content">
        <div class="footer_link"><%= link_to  "お問い合わせ", "" %></div>
        <div class="footer_link"><%= link_to  "管理者ログイン", new_admin_user_session_path %></div>
      </div>
    </footer>
  </body>
</html>
